extends layout

block content
  each esRecord in esRecords
    table
      tr
        td= esRecord._source.project
        td= esRecord._source.component
        td= esRecord._source.jobUrl
        td= esRecord.processed_build
  form(action='/admin', method='POST')
    | Project: 
    input(type='text', name='project')
    br
    | Component: 
    input(type='text', name='component')
    br
    | Job URL: 
    input(type='text', name='jobUrl')
    input(type='submit', value='Submit')
